*, *::before, *::after {
    box-sizing: border-box;
  }
  .clearfix::after {
      content: "";
      clear: both;
      display: table;
    }
  body {
      color: #fff;
      font-family: 'Raleway', sans-serif;
  }
  .wrapper {
    background-image: url('images/bg-mobile.png');
    background-size: cover;
    width: 375px;
    margin: 0 auto;
    text-align: center;
    padding: 150px 0px 150px 0px;
  }
  .main {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 200px 150px;
    grid-row-gap: 12px;
    justify-content: center;
  }
  .icon {
      background-color: hsl(229, 57%, 11%);
      width: 50px;
      height: 50px;
      border-radius: 8px;
      margin: 0px 15px 0px 0px;
      padding: 13px 0px 0px 0px;
  }
  .banner {
    background-color: hsl(228, 56%, 26%);
    border-radius: 8px 130px 8px 8px;

    display: grid;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 80px 80px;
    
    justify-items: start;

    padding: 25px 0px 0px 25px;
  }
  header {
    grid-column-start: span 3;
  }
  .icons {
    display: flex;
    
  }
  .usage {
    background-color: hsl(228, 56%, 26%);
    border-radius: 8px;
  }