*, *::before, *::after {
    box-sizing: border-box;
  }
  .clearfix::after {
      content: "";
      clear: both;
      display: table;
    }
  body {
      color: #fff;
      font-family: 'Raleway', sans-serif;
      background-color: hsl(229, 57%, 11%);
  }
  .wrapper {
    background-image: url('images/bg-mobile.png');
    background-size: cover;
    width: 375px;
    margin: 0 auto;
    text-align: center;
    padding: 150px 0px 150px 0px;
  }
  .main {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 200px 150px;
    grid-row-gap: 12px;
    justify-content: center;
  }
  .icon {
      background-color: hsl(229, 57%, 11%);
      width: 50px;
      height: 50px;
      border-radius: 8px;
      margin: 0px 15px 0px 0px;
      padding: 13px 0px 0px 0px;
  }
  .banner {
    background-color: hsl(228, 56%, 26%);
    border-radius: 8px 130px 8px 8px;

    display: grid;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 80px 80px;
    
    justify-items: start;

    padding: 25px 0px 0px 25px;
  }
  header {
    grid-column-start: span 3;
  }
  .icons {
    display: flex;
    
  }
  .usage {
    background-color: hsl(228, 56%, 26%);
    border-radius: 8px;
    display: grid;
    align-items: center;
    justify-content: center;

    grid-template-columns: 100%;
    grid-template-rows: 55px 55px 55px;
  }
  .usage p {
    font-weight: 300;
    
  }
  .usage p span {
    font-weight: 900;
    
  }
  .whatsLeft {
    width: 170px;
    height: 60px;
    background-color: #fff;
    border-radius: 8px;
    color: #000;
    text-transform: uppercase;
    font-size: 12px;

    position: relative;
    left: 60px;
    top: 12px;
    display: grid;
    align-items: center;
  }
  .whatsLeft span {
    font-weight: 900;
    font-size: 30px;
  }
  .whatsLeft p {
    font-weight: 400;
    font-size: 12px;
  }

  progress {
    width: 80%;
    margin-left: 30px;
    height: 20px;
    position: relative;
    top: -20px;
  }
  .progress-stats {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -35px;
    margin: 0px 30px;
  }
  .left {
    display: inline-block;
    width: 50px;
    text-align: left;
  }
  .right {
    display: inline-block;
    width: 50px;
    text-align: right;
  }


  /* Media Queries */

@media screen and (min-width: 1440px) {
	body {
		
	}
    .wrapper {
    min-width: 1440px;
		background-image: url('images/bg-desktop.png');
    background-repeat: no-repeat;
    background-position:10px 250px;
    }
    .main {
      display: grid;
      grid-template-columns: 380px 400px;
      grid-template-rows: 200px 150px;
      grid-column-gap: 20px;
    }
    .usage {
      height: 130px;
      align-self: end;
      justify-content: start;
      grid-template-columns: 100%;
      grid-template-rows: 45px 45px 45px;
      text-align: left;
      padding: 20px 18px 18px 18px;
      font-size: 14px;
    }
    
    .whatsLeft {
      width: 170px;
      height: 60px;
      text-align: center;
      border-radius: 8px 8px 20px 8px;
      
  
      position: relative;
      left: 200px;
      top: -200px;
      display: grid;
      align-items: center;
      
    }
    progress {
      width: 100%;
      height: 20px;
      position: relative;
      top: -20px;
      margin-left: 0px;
      color: #0063a6;
    }
    

    .progress-stats {
      display: flex;
      justify-content: space-between;
      position: relative;
      top: -35px;
      margin: 0px;
    }
    .left {
      display: inline-block;
      width: 50px;
      text-align: left;
    }
    .right {
      display: inline-block;
      width: 50px;
      text-align: right;
    }
  }